Django==5.2.12
graphene-django==3.2.0
graphene==3.4.0
psycopg2-binary==2.9.10
redis==7.2.1
celery==5.6.2
django-celery-beat==2.9.0
channels==4.2.0
channels-redis==4.2.0
daphne==4.1.2
python-dotenv==1.2.2
PyJWT==2.12.0
django-cors-headers==4.4.0
gunicorn==23.0.0
django-redis==5.4.0
